<div class="flex items-center justify-between">
    <!-- Breadcrumb with Page title-->
    <div class="flex items-center">
        <a routerLink="/dashboard" class="flex bg-[#2070e9] justify-center items-center rounded-full w-8 h-8">
            <i class="fa fa-home text-white !text-xs"></i>
        </a>
        <i class="fa fa-angle-right mx-1.5 text-xs"></i>
        <h1 class="text-xl font-bold">{{title}}</h1>
    </div>
    <!-- Searchbar -->
    <div *ngIf="showTableSearch !== false" class="flex justify-end items-center w-[33%]">
        <div [hidden]="isSearchBarHidden" class="rounded-md bg-white flex-grow border border-[#EBEBEB]">
            <input #tableSearch class="bg-transparent w-full px-4 py-1.5 focus:outline-none text-sm placeholder:text-xs" 
            type="text" 
            placeholder="Search"
            (input)="onSearch(tableSearch.value)"
            >
        </div>
        <button (click)="toggleSearchbar()" class="ml-1.5 rounded-full bg-[#2070e9] w-9 h-9 flex justify-center items-center focus:outline-none">
            <i class="fa fa-search text-white text-xs"></i>
        </button>
    </div>
</div>