<div class="p-5">
    <!-- dashboard header -->
    <div class="flex items-center">
        <button
            class="bg-[#2070e9] rounded-full flex justify-center items-center p-3 cursor-pointer focus:outline-none">
            <span class="material-symbols-outlined text-white">
                settings
            </span>
        </button>
        <h1 class="text-2xl ml-3"><b>Dash</b>board</h1>
    </div>
    <div class="w-full mt-3">
        <div class="flex flex-col sm:flex-row justify-between gap-4">
            <div class="bg-[#FBFBFB] p-4 rounded-md flex justify-between items-center flex-1">
                <div class="flex-1 flex flex-col">
                    <h2 class="text-sm font-bold mb-2">Attendance Approval</h2>
                    <p class="text-2xl font-bold">10</p>
                </div>
                <svg viewBox="0 0 400 200" class="w-[35%] -mt-7">
                    <defs>
                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="1">
                            <stop offset="0%" stop-color="#4F997B" />
                            <stop offset="100%" stop-color="#87D68D" />
                        </linearGradient>
                    </defs>
                    <polyline points="20,170 60,120 100,130 140,90 180,120 220,80 260,100 300,150 340,140 380,170"
                        fill="none" stroke="url(#gradient)" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <polygon
                        points="20,170 60,120 100,130 140,90 180,120 220,80 260,100 300,150 340,140 380,170 380,200 20,200"
                        fill="url(#gradient)" opacity="0.3" />
                </svg>
            </div>
            <div class="bg-[#FBFBFB] p-4 rounded-md flex justify-between items-center flex-1 mt-4 sm:mt-0">
                <div class="flex-1 flex flex-col">
                    <h2 class="text-sm font-bold mb-2">Loan Approval</h2>
                    <p class="text-2xl font-bold">5</p>
                </div>
                <svg viewBox="0 0 400 200" class="w-[35%] -mt-7">
                    <defs>
                        <linearGradient id="gradient2" x1="0" y1="0" x2="0" y2="1">
                            <stop offset="0%" stop-color="#2070e9" />
                            <stop offset="100%" stop-color="#85a7f4" />
                        </linearGradient>
                    </defs>
                    <polyline points="20,170 60,120 100,130 140,90 180,120 220,80 260,100 300,150 340,140 380,170"
                        fill="none" stroke="url(#gradient2)" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <polygon
                        points="20,170 60,120 100,130 140,90 180,120 220,80 260,100 300,150 340,140 380,170 380,200 20,200"
                        fill="url(#gradient2)" opacity="0.3" />
                </svg>
            </div>
            <div class="bg-[#FBFBFB] p-4 rounded-md flex justify-between items-center flex-1 mt-4 sm:mt-0">
                <div class="flex-1 flex flex-col">
                    <h2 class="text-sm font-bold mb-2">Leave Approval</h2>
                    <p class="text-2xl font-bold">3</p>
                </div>
                <svg viewBox="0 0 400 200" class="w-[35%] -mt-7">
                    <defs>
                      <linearGradient id="gradient3" x1="0" y1="0" x2="0" y2="1">
                        <stop offset="0%" stop-color="#ED8A0A"/>
                        <stop offset="100%" stop-color="#F4AD6B"/>
                      </linearGradient>
                    </defs>
                    <polyline points="20,120 60,80 100,100 140,70 180,100 220,50 260,90 300,40 340,80 380,120" 
                              fill="none" stroke="url(#gradient3)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    <polygon points="20,120 60,80 100,100 140,70 180,100 220,50 260,90 300,40 340,80 380,120 380,200 20,200" 
                             fill="url(#gradient3)" opacity="0.3" />
                  </svg>
            </div>
        </div>
        <div class="flex flex-col md:flex-row mt-3 justify-between gap-4">
            <!-- Tile 1: Attendance Details -->
            <div class="bg-[#FBFBFB] rounded-md p-4 w-full md:w-1/2">
              <h2 class="text-sm font-bold mb-4">Attendance Details</h2>
              <div class="overflow-x-auto">
                <table class="rounded-md text-left text-xs table-auto border-collapse w-full">
                  <thead>
                    <tr>
                      <th class="px-4 py-2 font-medium text-gray-700 bg-gray-200 border">Employee Name</th>
                      <th class="px-4 py-2 font-medium text-gray-700 bg-gray-200 border">Date</th>
                      <th class="px-4 py-2 font-medium text-gray-700 bg-gray-200 border">HOD Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="px-4 py-2 font-normal text-gray-700 border">John Smith</td>
                      <td class="px-4 py-2 font-normal text-gray-700 border">2023-05-02</td>
                      <td class="px-4 py-2 font-normal text-gray-700 border">Jane Doe</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          
            <!-- Tile 2: Leave Details -->
            <div class="bg-[#FBFBFB] rounded-md p-4 w-full md:w-1/2">
                <h2 class="text-sm font-bold mb-4">Leave Details</h2>
                <div class="overflow-x-auto">
                  <table class="rounded-md text-left text-xs table-auto border-collapse w-full">
                    <thead>
                      <tr>
                        <th class="px-4 py-2 font-medium text-gray-700 bg-gray-200 border">Employee Name</th>
                        <th class="px-4 py-2 font-medium text-gray-700 bg-gray-200 border">Date</th>
                        <th class="px-4 py-2 font-medium text-gray-700 bg-gray-200 border">HOD Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="px-4 py-2 font-normal text-gray-700 border">John Smith</td>
                        <td class="px-4 py-2 font-normal text-gray-700 border">2023-05-02</td>
                        <td class="px-4 py-2 font-normal text-gray-700 border">Jane Doe</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div> 
        <div class="flex flex-col md:flex-row mt-3 justify-between gap-4 mr-4">
            <!-- Tile 1: Attendance Details -->
            <div class="bg-[#FBFBFB] rounded-md p-4 w-full md:w-1/2">
              <h2 class="text-sm font-bold mb-4">Loan Details</h2>
              <div class="overflow-x-auto">
                <table class="rounded-md text-left text-xs table-auto border-collapse w-full">
                  <thead>
                    <tr>
                      <th class="px-4 py-2 font-medium text-gray-700 bg-gray-200 border">Employee Name</th>
                      <th class="px-4 py-2 font-medium text-gray-700 bg-gray-200 border">Date</th>
                      <th class="px-4 py-2 font-medium text-gray-700 bg-gray-200 border">HOD Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="px-4 py-2 font-normal text-gray-700 border">John Smith</td>
                      <td class="px-4 py-2 font-normal text-gray-700 border">2023-05-02</td>
                      <td class="px-4 py-2 font-normal text-gray-700 border">Jane Doe</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div> 
    </div>
</div>