<div class="p-4">
    <app-index-header [showTableSearch]="false" [title]="'Company Management'"></app-index-header>
    <div class="flex justify-between items-center my-3">
        <button routerLink="/company" class="btn secondary__btn">
            <span class="material-symbols-outlined text-sm mr-1">
                keyboard_backspace
            </span>
            Back
        </button>
        <app-navbar [items]="navigationMenu"></app-navbar>
    </div>
    <!-- form -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-9">
        <div class="twobytwo__form mb-1 flex items-center">
            <label for="name">Name</label>
            <input type="text" id="name">
        </div>
    </div>
</div>