<div class="p-4">
    <app-index-header [showTableSearch]="false" [title]="'Company Management'"></app-index-header>
    <div class="flex justify-between items-center my-3">
        <button routerLink="/company" class="btn secondary__btn">
            <span class="material-symbols-outlined text-sm mr-1">
                keyboard_backspace
            </span>
            Back
        </button>
        <app-navbar [items]="navigationMenu"></app-navbar>
    </div>
    <!-- form -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-9">
        <div class="twobytwo__form">
            <label class="form__label" for="name">Name</label>
            <input class="form__input" type="text" id="name">
        </div>
        <div class="twobytwo__form mb-1 flex items-center">
            <label class="form__label" for="name">Name</label>
            <app-select class="w-full"></app-select>
        </div>
        <div class="twobytwo__form mb-1 flex items-center">
            <label class="form__label" for="name">Name</label>
            <div class="toggle__btn">
                <input [(ngModel)]="isChecked" type="checkbox" class="hidden" id="toggle">
                <label for="toggle" class="flex items-center cursor-pointer">
                    <span [class.!bg-[#2070e9]]="isChecked" class="w-14 h-7 bg-gray-300 rounded-full p-1 duration-300 ease-in-out">
                      <div [class.translate-x-[140%]]="isChecked" class="bg-white w-5 h-5 rounded-full shadow-md transform duration-300 ease-in-out"></div>
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>