
<div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 bg-gray-50">
            <tr>
                <th *ngFor="let col of columns" scope="col" class="px-6 py-1">
                    {{ col.name }}
                </th>
                <!-- <td scope="col" class="px-6 py-1 text-center">
                    <button class="bg-[#2070e9] text-white py-1 px-2 rounded-sm focus:outline-none mr-1">New</button>
                    <button class="text-[#C9C9C9] border border-[#C9C9C9] py-1 px-2 rounded-sm focus:outline-none">
                        <i class="fas fa-bars"></i>
                    </button>
                </td> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data" class="bg-white border-b hover:bg-gray-50">
                <td *ngFor="let key of objectKeys(item)" class="px-6 py-4">
                    {{ item[key] }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
