
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 bg-gray-50">
            <tr>
                <th *ngFor="let col of tableColumns" scope="col" class="px-6 py-3">
                    {{ col }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b hover:bg-gray-50">
                <!-- <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    Apple MacBook Pro 17"
                </th> -->
                <td *ngFor="let data of tableData" class="px-6 py-4">
                    {{ data }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
