<div class="p-4 !bg-white">
    <h2 class="font-bold text-base">Bulk Upload</h2>
    <mat-dialog-content>
       <div class="grid grid-cols-12 items-center my-2">
            <div class="col-span-4">
                <label>Action</label>
            </div>
            <div class="col-span-8">
                <select name="" id="" class="w-full py-1" [(ngModel)]="selectedAction" (ngModelChange)="showFileInput = true">
                    <option value="" disabled selected>Select an option</option>
                    <option value="">Add</option>
                    <option value="">Upload</option>
                </select>
            </div>
       </div>
       <div class="grid grid-cols-12 items-center my-2">
        <div class="col-span-4">
            <label>Select File</label>
        </div>
        <div class="col-span-8" *ngIf="showFileInput">
            <input type="file">
        </div>
   </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn danger__btn mr-1" mat-dialog-close>Close</button>
        <button class="btn primary__btn mr-1">Upload</button>
        <button class="btn light__btn">Reset</button>
    </mat-dialog-actions>
</div>