@tailwind base;
@tailwind components;
@tailwind utilities;

/* default styles for ng-select plugin */
@import "~@ng-select/ng-select/themes/default.theme.css";
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}
body {
    /* @apply bg-[#ECEDFF]; */
     @apply bg-[#F5F6FD];
}
/* Global SCrollbar styles */
::-webkit-scrollbar-thumb {
    @apply bg-[#17181C];
    @apply rounded-[5px];
}
::-webkit-scrollbar {
    @apply w-[8px];
    @apply h-[8px];
}
/* Global sidebar styles */
div.mat-expansion-panel-body {
    @apply p-0 !important;
}
.mat-content.mat-content-hide-toggle {
    @apply mr-0 !important;
}
/* Custom styles for ng-select plugin */
.ng-select.custom_select .ng-select-container {
    @apply bg-transparent;
    @apply border-none;
    @apply border-b-[3px];
    @apply border-[#2070e9];
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    @apply p-[5px]; 
    @apply px-[10px];
}
/* Global button styles */
.btn {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply px-2;
    @apply py-1.5;
    @apply text-xs;
    @apply rounded-md;
    @apply transition-all;
    @apply duration-300;
}
.primary__btn {
    @apply bg-[#2070e9];
    @apply text-white;
}
.primary__btn:hover {
    @apply bg-[#0f60c9];
}
.secondary__btn {
    @apply bg-[#17181c];
    @apply text-white;
}
.secondary__btn:hover {
    @apply bg-[#333333];
}
.outline__btn {
    @apply bg-transparent;
    @apply border;
    @apply border-[#2070e9];
    @apply text-[#2070e9];
}
.outline__btn:hover {
    @apply bg-[#2070e9];
    @apply text-white;
}
.danger__btn {
    @apply bg-[#fd4444];
    @apply text-white;  
}
.danger__btn:hover {
    @apply bg-[#c42828];
}
.light__btn {
    @apply text-gray-700;
    @apply bg-transparent;
    @apply border-2;
    @apply border-gray-300;
}
.light__btn:hover {
    @apply bg-gray-200;
}
.pagination__btn {
    @apply bg-gray-300;
    @apply text-gray-700;
}
.pagination__btn:hover {
    @apply bg-gray-400;
}
.navbar__input {
    @apply py-0.5;
    @apply px-2;
    @apply border;
    @apply border-[#ebebeb];
    @apply rounded-md;
    @apply bg-white;
}
.navbar__input:focus {
    @apply outline-none;
}
.navbar__input::placeholder {
    @apply text-xs;
}
.twobytwo__form {
    @apply mb-2;
    @apply flex;
    @apply items-center;
}
.twobytwo__form .form__label {
    @apply text-gray-700;
    @apply mb-2;
    @apply mr-3;
    @apply min-w-[200px];
    @apply text-ellipsis;
    @apply overflow-hidden
}
.twobytwo__form .form__input
{
    @apply w-full;  
    @apply border-b-[#2070e9];
    @apply border-b-[3px];
    @apply bg-transparent;
    @apply rounded-sm;
    @apply px-2;
    @apply py-1;
}
.twobytwo__form .form__input:focus {    
    @apply outline-none
}