@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@ng-select/ng-select/themes/default.theme.css";

/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}
body {
    /* background-color: #ECEDFF; */
    background-color: #F5F6FD;
}
::-webkit-scrollbar-thumb {
    background: #17181C;
    border-radius: 5px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
div.mat-expansion-panel-body {
    padding: 0 !important;
}
.mat-content.mat-content-hide-toggle {
    margin-right: 0 !important;
}
.ng-select.custom_select .ng-select-container {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #2070e9;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 5px 10px;
}
.btn {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply px-2;
    @apply py-1;
    @apply text-sm;
    @apply rounded-md;
}
.primary__btn {
    @apply bg-[#2070e9];
    @apply text-white;
}
.secondary__btn {
    @apply bg-[#17181c];
    @apply text-white;
}
.light__btn {
    
}
